<div class="container top-gap">
  <div class="row">
    {{#each siteinfo}}
      {{#if @first}}
        {{#if this.profileImage}}
          <div class="col-sm-6">
            <img class="img-responsive" src="{{this.profileImage.image.url}}" alt="" />
          </div>
        {{/if}}
        <div class="col-sm-6 about-details">
          {{#if this.title}}
            <h2>{{this.title}}</h2>
          {{/if}}
          {{#if this.bio}}
            <p>{{this.bio}}</p>
          {{/if}}
          <h2>Contact</h2>
          {{#if this.email}}
            <ul class="list-inline">
              <li><i class="fa fa-envelope"></i></li>
              <li><a href="mailto:{{this.email}}?Subject=Hello" target="_blank">{{this.email}}</a></li>
            </ul>
          {{/if}}
          {{#if this.twitter}}
            <ul class="list-inline">
              <li><i class="fa fa-twitter"></i></li>
              <li><a href="https://twitter.com/{{this.twitter}}" target="_blank">@{{this.twitter}}</a></li>
            </ul>
          {{/if}}
          {{#if this.linkedIn}}
            <ul class="list-inline">
              <li><i class="fa fa-linkedin"></i></li>
              <li><a href="{{this.linkedIn}}" target="_blank">{{this.title}}</a></li>
            </ul>
          {{/if}}
        </div>
      {{/if}}
    {{/each}}
  </div>
</div>
