<div class="jumbotron portfolio-hero text-center" style="
    background: url(
      {{#each siteinfo}}
        {{#if @first}}
          {{#if this.mainImage}}
            {{this.mainImage.image.url}}
          {{/if}}
        {{/if}}
      {{/each}}
    ) no-repeat center center;
    background-size: cover;
    <!-- background-attachment: fixed; -->
  ">
  <div class="overlay">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h1>
            {{#each siteinfo}}
              {{#if @first}}
                {{this.title}}.
                {{#if this.role}}
                  <span class="strong">{{this.role}}</span>.
                {{/if}}
              {{/if}}
              {{#if this.description}}
                <p>{{this.description}}</p>
              {{/if}}
              {{#if this.email}}
                <p class="call-to-action"><a class="btn btn-default btn-lg" href="mailto:{{this.email}}?Subject=Hello">Contact Me</a></p>
              {{/if}}
            {{/each}}
          </h1>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Projects -->
{{#if project}}
  <div class="container projects" id="projects">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h2>Projects</h2>
      </div>
      <!-- filters -->
      {{#if filters}}
        {{> project_filters filters}}
      {{/if}}
      <!-- projects -->
      <div class="col-sm-12">
        <div id="project-list" class="row">
          {{#each project}}
            {{> project_card this}}
          {{/each}}
        </div>
      </div>
    </div>
  </div>
{{/if}}
<!-- Skills -->
{{#if skills}}
  <div class="container skills" id="skills">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h2>Skills</h2>
      </div>
      <!-- skills -->
      {{#each skills}}
        {{> skill_col}}
      {{/each}}
    </div>
  </div>
{{/if}}
